<div id = "maps_container">
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-cf85f870-cea4-4483-8e15-31f655704f30"></div>
</div>

<div id = "weather_container">
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-7408cc0e-0bb1-4800-9251-3fb8fe3a90a9"></div>
</div>