<h1>Password Generator</h1>
<p>Click the button to generate your random password</p>

<button onclick="genPassword()">Generate Now!</button>

<p id="generated"></p>

<script>
    function genPassword() {
        randoPassword = RandomPasswordGenerator.generate(10);
        document.getElementById("generated").innerHTML = randoPassword;
    }
</script>