<div class = "jumbotron">
    <h1 class = "display-4">Password Generator</h1>
    <p class = "lead">Below is your randomly generated password!</p>
    <p class = "my-4">Please copy & paste it (:</p>

    <br />

    <%= @output %>

    <br />

    <a href="/users/sign_up">Back</a>
</div>